*{
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  width: 100%;
}

.dropdown_label{
  cursor: pointer;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
}

.dropdown.open .dropdown_menu{
  display: block;
}

.dropdown_menu{
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  // надо убрать бордер сверху
  border: 1px solid black;
  z-index: 99;
  background: #ffffff;

  display: none;
  li{
	padding: 10px;

	&:hover{
	  background: rgba(0, 0, 0, .2);
	  cursor: pointer;
	}
  }
}

.string_select{
  width: 150px;
}

.number_select{
  width: 50px;
}

.container{

}
