*{
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  width: 100%;
}

.dropdown_label{
  height: 36px;
  cursor: pointer;
  width: 100%;
  padding: 8px 10px;
  //border: 1px solid black;
  text-align: center;
}

.dropdown.open .dropdown_menu{
  display: block;
}

.dropdown_menu{
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
  z-index: 99;
  background: #ffffff;
  border-top: 1px solid black;

  display: none;
  li{
	padding: 10px;

	&:hover{
	  background: rgba(0, 0, 0, .2);
	  cursor: pointer;
	}
  }
}

.string_select{
  width: 110px;
  border-right: 1px solid black;
}

.number_select{
  width: 70px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
