<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{taskForUpdated.location}}</h1>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input value="{{taskForUpdated.location}}"  [(ngModel)]="taskForUpdated.location"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input value="{{taskForUpdated.hint}}"  [(ngModel)]="taskForUpdated.hint"></ion-input>
  </ion-item>
  <ion-button  (click)="update(taskForUpdated)">Close</ion-button>
</ion-content>
